p span  {
    width: 100px;
    display: inline-block;
}
.main {
    position: relative;
}
.container{
    position: fixed;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -0%);
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    width: 300px;
    
}
h2 {
 text-align: center;
}